body {
    overflow: hidden;
    margin: 0;
}
div {
    display: block;
}
.dischat{
    background-color: #202225;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}
.servers {
    background-color: #202225;
    display: flex;
    height: 100%;
    width: 100px;
    flex-direction: column;
    align-content: center;
}
.channels {
    background-color: #303136;
    display: flex;
    height: 100%;
    min-width: 200px;
    width: 250px;
    flex-direction: column;
}
.chat {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.chat-box{
    background-color: #37393E;
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
}
.chat-users {
    background-color: #303136;
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    justify-content: right;
}
.server-display{
    box-sizing: content-box;
    border-radius: 80%;
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    flex-direction: column;
}
.servers-li {
    list-style-type: none;
    padding-top: 10px;
}
.server{
    display: flex;
    flex-direction:row;
    color: white;
    padding-left: 20px;
    border-bottom: 1px solid black;
    height: 68px;
    overflow: hidden;
}
.channel{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.channels-li {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 25px;
    align-self: flex-start;
    color: white;
}
.select-channel {
    color: white;
    text-decoration: none;
    margin: 0;
    cursor: pointer;

}
.display-channels{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    padding-top: 0;
}
.text-channel{
    margin-bottom: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}
.show-channels{
    margin-bottom: 0;
}
.add-channel{
    cursor: pointer;
}
.user{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    height: 60px;
}
.username{
    color: white;
    padding-left: 10px;
}

.create-box{
        display: flex;
        width: 450px;
        background: #555252;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        border-radius: 25px;
        flex-direction: column;
        padding: 8px;
}
.create-channel{
    display: flex;
    width: 450px;
    background: #555252;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 25px;
    flex-direction: column;
    padding: 8px;
}


.hidden{
    display: none;
}

.channel-name{
    display: flex;
    flex-direction: row;
    height: 68px;
    border-bottom: 1px solid black;
    color: white;
    padding-left: 10px;
    overflow: hidden;
}

.message{

    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    padding-left: 10px;

}

.message-input {
    display: flex;
    flex-direction: row;
    height: 60px;
    border-top: 1px solid black;

}

.users-column{
    display: flex;
    color: white;
    flex-direction: row;
    height: 63px;
    border-bottom: 1px solid black;
    padding-left: 10px;
    overflow: hidden;
}

.users{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    padding-left: 10px;
}

.home-li {
    list-style-type: none;
    padding-top: 10px;
}

.add-li {
    list-style-type: none;
    padding-top: 10px;
}

.users-li {
    color: white;
    margin: 0;
    list-style-type: none;

}

#users-list{
    display: flex;
    align-items: flex-start;
}

