body {
    background-image: url('/images/sign-in-background.png');
    background-size:  100%;
}
.sign-in-box {
    display: flex;
    width: 450px;
    background: #555252;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 25px;
    flex-direction: column;
    padding: 8px;
}
.form-header{
    padding-bottom: 0;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 85%;
    margin-left: 7%;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 2%;
    box-sizing: border-box;
}
p {
    margin-left: 7%;
    font-weight: bold;
    color: #B3A4A4;
}
a{
    margin-left: 10%;
}
.submit {
    color: #fff;
    background-color: #9C67E3 ;
    font-size: 18px;
    border-color: #9C67E3 ;
    margin-top: 5px;
}
.info {
    background-color: #746D6D;
    border-color:transparent;
    color: #fff;
    border: black 1px solid;
}
a {
    color: #9C67E3;
}
form{
    display: block;
}
.dischat{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1.5fr;
    padding-bottom: 20px;
}
