@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes floating2 {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

 @media screen and (min-width : 400px) and (max-width : 500px) {

     body {
         background-color: rgb(43, 248, 43);
         border-top: 20px solid #DDDDDD;
     }

    nav.header__nav-bar{
         display: flex;
    }

    h1.body__heading{
         display: flex;
         justify-content: flex-start;
         margin: auto;
         font-size: 12px;
    }
 }

body { 
    background-color: rgb(42, 39, 44);
    overflow-x: hidden;
    
}
 
header{
     padding: 10px 4px 10px 10px;
}


.header__nav-bar{
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 3fr 1.5fr;
     padding-bottom: 20px;
}


 
.header__logo{
     padding-left: 10px;
     grid-column-start: 1;
     color: white;
     font-size: 24px;
     text-decoration: none;
}
 
.header__login{
     display:flex;
     grid-column-start: 3;
     justify-content: flex-end;
     padding-right: 25px;
     background-color: #ffff;
}
 
.header__buttons{
     display: flex;
     grid-column-start: 3;
     padding-left: 5px;
     margin: 5px 0px 30px 0px;
     justify-content: space-around;
}

.header__login-button{ 
     border: 2px solid gray;
     padding: 5px 35px 7px;
     border-radius: 15px;
     line-height: 24px;
     margin: 5px 15px 5px 155px;
     background-color: rgb(133, 153, 241);
     color: white;
     font-size: 16px;
}

.header__sign-up-button{
     border: 2px solid gray;
     padding: 5px 25px 7px;
     border-radius: 15px;
     line-height: 24px;
     margin: 5px 15px 5px 5px;
     font-size: 16px;
}
 
 /* top body portion:  message & demo button */
 div.body{
     display: grid;
     grid-template-rows: 60px 60px 600px 80px;
     padding-top: 20px;
     padding-bottom: 30px;
     max-width: 100%;
}
 
.body__heading{
     /* display: flex;
     justify-content: center; */
     padding: 0px 20px 0px;
     grid-row-start: 1;
     font-size: 40px;
     text-align: center;
     color: white;
     margin: 0px 30px;
}
 
div.body__icons{
    max-width: 100%;
     grid-row-start: 3;
     grid-row-end: 3;
     margin-left: 200px;
}
 
img.body__icons-laptop{
    max-width: 100%;
     position: absolute;
     margin: 250px 0px 0px 750px;
}
 
img.body__icons-headphones{
    max-width: 100%;
     position: absolute;
     margin: 230px 0px 0px 1050px;
     max-height: 200px;
}
 
img.body__icons-desktop{
    max-width: 100%;
     position: absolute;
     margin-top: 130px;
     margin-left: 420px;
}

img.body__icons-android{
    max-width: 100%;
     position: absolute;
     margin-top: 345px;
     margin-left: 200px
}

img.body__icons-iphone{
    max-width: 100%;
     position: absolute;
     margin-top: 350px;
     margin-left: 350px;
}
 
img.body__icons-box{
    max-width: 100%;
     position: absolute;
     margin-left: 480px;
     margin-top: 60px;
}

img.body__icons-potion{
    max-width: 100%;
     margin-top: 400px;
     margin-left: 120px;
}

img.body__icons-controller{
    max-width: 100%;
     position: absolute;
     margin-left: 510px;
     margin-top: 493px;
}

img.body__icons-disk{
    max-width: 100%;
     margin-left: 940px;
}

img.body__icons-cartrage{
    max-width: 100%;
     position: absolute;
     margin-top: 100px;
     margin-left: 980px;
}

img.body__icons-coin-1{
    max-width: 100%;
     position: absolute;
     margin-top: 240px;
     margin-left: 340px;
}

img.body__icons-coin-2{
    max-width: 100%;
    position: absolute;
    margin-top: 180px;
    margin-left: 1180px;
}

 img.body__icons-bomb{
         max-width: 100%;
    position: absolute;
    margin-top: 200px;
    margin-left: 287px;
}

 img.body__icons-dot{
         max-width: 100%;
    position: absolute;
    margin-top: 380px;
    margin-left: 150px;
 }

img.body__icons-x-1{
    max-width: 100%;
    position: absolute;
    margin-top: 40px;
    margin-left: 380px;
}

img.body__icons-x-2{
    max-width: 100%;
    position: absolute;
    margin-top: 400px;
    margin-left: 1100px;
}


img.body__icons-square{
    max-width: 100%;
    position: absolute;
    margin-top: 280px;
}
 
img.body__icons-triangle-1{
    max-width: 100%;
    position: absolute;
    margin-top: 40px;
    margin-left: 750px;
}

img.body__icons-triangle-2{
    max-width: 100%;
    position: absolute;
    margin-top: 490px;
    margin-left: 140px;    
}

img.body__icons-circle-1{
    max-width: 100%;
    position: absolute;
    margin-top: 60px;
    margin-left: 10px;    
}



.floating {  
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating2 {  
    animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.body__message{
     display: flex;
     justify-content: center;
     font-size: 17px;
     grid-row-start: 2;
     text-align: center;
     color: lightgray;
     margin-bottom: 0px;
     margin-bottom: 20px;
}
 
.body__demo-button{
     display: flex;
     justify-content: center;
     border-radius: 10px;
     border: 2px solid gray;
     grid-row-start: 4;
     margin: 20px 750px;
     background-color: rgb(133, 153, 241);
     color: white;
     font-size: 18px;
}