<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/chat.css">
    <title>DisChat</title>
</head>
<body>
    <div class="dischat">
        form.hidden.create-box
            label(for="serverName") Add a Server:
            input(id='newServer' type="text" name="serverName")
            <input class="submit" type="submit" role="button" name="add-server" value="Add Server"><br>

        form.hidden.create-channel
            label(for="channelName") Add a Channel:
            input(id='newChannel' type="text" name="channelName")
            <input class="submit" type="submit" role="button" name="add-channel" value="Add Channel"><br>


        <div class="servers">
            <div class="user-servers">
                <ul id="server-list">
                    <li class="home-li">
                          <img src="/images/sign-in-background.png" class="server-display" alt="NO IMAGE">
                    </li>
                    <li class="add-li" id="add-button">
                      <img src="/images/add-server.png" class="server-display">
                    </li>

                </ul>
            </div>
        </div>
        <div class="channels">
            <div class="server">
                <h3 class="server-name"></h3>
            </div>
            <div class="channel">
                <div class="text-channel">
                    <p class="show-channels">Channels </p>
                    <p class="add-channel">+</p>
                </div>
                <ul class="display-channels">
                </ul>
            </div>
            <div class="user">
                <p class="username"></p>
            </div>
        </div>
        <div class="chat">
            <div class="chat-box">
                <div class="channel-name">
                    h3#channel-name
                </div>
                <div class="message">

                </div>
                <div class="message-input">
                  form.new-message-form
                    label(for="newMessage")
                    input(id="new-message" type="text" name="newMessage" placeholder="new message....")
                    button.message-submit(type='submit') Send
                </div>
            </div>
            <div class="chat-users">
                div.users-column
                    h3 Server Members
                div.users
                  ul#users-list
            </div>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
script(src="/js/add-server.js")
script(src="/js/chat.js")
script(src="/js/add-channel.js")
script(src="/js/load-content.js")
//- script(src="/js/load-messages.js")
</html>
