<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/chat.css">
    <title>DisChat</title>
</head>
<body>
    <div class="dischat">
        <div class="servers">
            <div class="user-servers">
                <ul>
                    <li class="servers-li">
                        <a href="/Users/lenalf/Documents/DisChat/DisChat/front-end/chat-page/chat.html">
                          <img src="/images/sign-in-background.png" class="server-display" alt="NO IMAGE">
                        </a>
                    </li>
                    <li class="servers-li"></li>
                    <li class="servers-li" id="add-button">
                      <img src="/images/add-server.png" class="server-display">
                    </li>

                </ul>
            </div>
        </div>
        <div class="channels">
            <div class="server">
                <h3>ServerName</h3>
            </div>
            <div class="channel">
                <div class="text-channel">
                    <p class="show-channels">Channels </p>
                    <p class="add-channel">+</p>
                </div>
                <ul class="display-channels">
                    <li class="channels-li"> <a class="select-channel" href=""> # channel1</a></li>
                    <li class="channels-li"># channel2</li>
                </ul>
            </div>
            <div class="user">
                <p class="username">SauceKnight</p>
            </div>
        </div>
        <div class="chat">
            <div class="chat-box">
                <div class="channel-name">
                </div>
                <div class="message">
                </div>
            </div>
            <div class="chat-users">
            </div>
        </div>
    </div>
</body>
</html>
